* {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

p {
  display: block;
  text-align: center;
}

input[type="number"] {
  width: 100%;
  max-width: 20em;
  padding: 0.5em;
  font-size: 1em;
}

button[type="button"] {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  background-color: #00cc00;
  color: white;
  border: none;
  border-radius: 0.25em;
}

button[type="button"]:hover {
  background-color: #009900;
}

button[type="button"]:active {
  background-color: #006600;
}

a {
  text-align: center;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #FF9900;
  color: white;
  border: none;
  border-radius: 0.25em;
  text-decoration: none;
}

.text-center {
  text-align: center;
}
