* {
  font-family: "Roboto Mono", "Monospace", "Consolas", "Monaco";
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

p {
  display: block;
  text-align: center;
}

input[type="number"] {
  width: 100%;
  max-width: 20em;
  padding: 0.5em;
  font-size: 1em;
}

#calculate-button:active {
  background-color: white;
}

#calculate-button:hover {
  color: black
}

#calculate-button {
  background: white;
  height:45px;
  width:125px;
  background-color: #FF9900;
  border: none;
  border-radius: 0.25em;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1em;
}

button[type="button"] {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  background-color: #00cc00;
  color: white;
  border: none;
  border-radius: 0.25em;
}

a {
  text-align: center;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #FF9900;
  color: white;
  border: none;
  border-radius: 0.25em;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

a:hover {
  color: black;
}

.output-box {
  border: 3px;
  border-style: dotted;
  color: white;
  text-align: center;
  margin: 0 auto;
}

[class*="output-box"] {
  width: 90%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .output-box {
    max-width: 50%;
  }
}
